@model List<tbcng.Models.cat>
@*@using tbcng.Controllers;*@

@if (Model != null)
{
    if (Model.Count > 0)
    {
        int count=0;
        string style = "";
        string style2 = "";
        
<div id="product-tabs-slider" class="scroll-tabs outer-top-vs wow fadeInUp">
        <div class="more-info-tab clearfix ">
            <h3 class="new-product-title pull-left">Sản Phẩm Mới</h3>        
            <!-- Nav tabs Start -->
            <ul class="nav nav-tabs nav-tab-line pull-right" id="new-products-1">
                @foreach (var item in Model)
                {
                    count++;
                    style = "";
                    style2 = "";
                    if (count == 1) { style = "class='active'"; }

                    @*<li @Html.Raw(@style)><a href="#tab-@count" aria-controls="tab-@count" role="tab" data-toggle="tab">@item.cat_name</a></li>*@
                    <li @Html.Raw(@style)><a data-transition-type="backSlide" href="#tab-@count" data-toggle="tab">@item.cat_name</a></li>
                }
            </ul>  <!-- Nav tabs End -->
        </div>
            @{count = 0;}
            <!-- Tab panes -->
            <div class="tab-content outer-top-xs">
                @foreach (var item in Model)
                {
                    count++;
                    style2 = "";
                    if (count == 1) { style2 = "in active"; }
                    <div class="tab-pane  @style2" id="tab-@count">                    
                        <div class="product-slider">
				            <div class="owl-carousel home-owl-carousel custom-carousel owl-theme" data-item="4">
                                @{Html.RenderAction("ProductWithCatelog", new { cat_id = item.cat_id });}
                            </div>
                        </div>
                    </div>
                }
            </div>       
</div>

    }
}


